*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
        width: 600px;
        height: 600px;
        margin: 50px auto;
        box-shadow: 0 0 8px #ddd;
        display: flex;
        flex-direction: column;
}
header{
    height: 15%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    height: 70%;
    background-color: azure;

}
h1{
    text-align: center;
    margin: 20px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.option{
    width: 40%;
    height: 130px;
    border: 1px solid #ddd;
    box-shadow: 0 0 8px#000;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 15%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}